<div class="bg-primary h-full">
  <nav class="bg-quaternary text-white sticky top-0 left-0 right-0">
    <ul class="container mx-auto p-5 flex flex-row gap-4">
      <li>
        <a
          class="hover:underline underline-offset-8"
          routerLink="home"
          routerLinkActive="underline"
        >
          Character Sheet
        </a>
      </li>
      <li class="hover:underline underline-offset-8">
        <a class="" routerLink="races" routerLinkActive="underline"> Races </a>
      </li>
    </ul>
  </nav>
  <div class="container mx-auto p-5 h-screen text-quinary">
    <router-outlet></router-outlet>
  </div>
</div>
